<div id="{{ data.id }}" style="border: 1px solid black">
    {% block data %}
        <div id="{{ data.id }}">{{ data.type }}:{{ data.id }}</div>
    {% endblock %}
    {% block content %}
        {{ data.data }}
    {% endblock %}
</div>
