<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFO</title>
    <script type="text/javascript">
        async function load() {
            const search = document.getElementById('search').value;
            pywebview.api.search(search);
            history.pushState({search: search}, search);
            document.getElementById("error").innerHTML = "";

            let response = await pywebview.api.load();
            console.log(response);
            if (response.failure) {
                document.getElementById("error").innerHTML = response.failure;
                return;
            }
            document.getElementById("output").innerHTML = response;
        }

        function clicked(e) {
            document.getElementById('search').value = e.target.id;
            load();
        }

        function loaded() {
            const search = document.getElementById('search').value;
            history.pushState({search: "search"}, search);

            document.getElementById("output").onclick = clicked;
            window.onpopstate = (e) => {
                console.log(e);
                document.getElementById('search').value = e.state.search;
                load();
            };
        }
    </script>
</head>
<body onload="loaded()">
    <h1>UFO</h1>
    <p>... is the unified fediverse observer.</p><br/>
    <button id="abortButton" onclick="pywebview.api.abort()">Abort</button>
    <br/>
    <br/>
    <label for="search"></label>
    <input type="text" id="search"
           placeholder="Search for a user or instance..."
           value="https://mastodon.social/users/JustusWingert/outbox?page=true" />
    <button id="loadButton" onclick="load()">Load</button>
    <br/>
    <br/>
    <div id="error" style="color: darkred; "></div>
    <div id="output"></div>
</body>
</html>