{% extends "collection.jinja2" %}
{% block content %}
    <div id="{{ data.first }}">{{ data.first }}</div>
    <div id="{{ data.last }}">{{ data.last }}</div>
    <ul>
    {% for item in data.children %}
        {% if item is string  %}
        <li id="{{ item }}">{{ item }}</li>
        {% else %}
        <li id="{{ item.id }}">{{ item }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
